/*--------- IMPORTACIÓN DE FUENTES Y CONFIGURACIÓN DE VARIABLES----------
-----------Importamos la tipografía Poppins desde Google Fonts----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --verde-principal: #2e7d32;
    --verde-suave: #a5d6a7;
    --naranja-acento: #e65100;
    --color-fondo: #f1f8e9;
    --color-tarjeta: #ffffff;
    --color-texto: #333333;
    --fuente-global: 'Poppins', sans-serif;
}

/* reseteo universal y configuracion del modelo de caja*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*hace que padding y border se incluyan en el tamaño total del elemento*/
}

body {
    font-family: var(--fuente-global);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6; /* Espaciado de líneas óptimo para lectura */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*hace que padding y border se incluyan en el tamaño total del elemento*/
}
